[submodule "programming/boo-csharp"]
	path = programming/boo-csharp
	url = https://github.com/BOO1980/boo-csharp.git
[submodule "programming/boo-asp.net"]
	path = programming/boo-asp.net
	url = https://github.com/BOO1980/boo-asp.net.git
[submodule "programming/boo-xamarin"]
	path = programming/boo-xamarin
	url = https://github.com/BOO1980/boo-xamarin.git
[submodule "framework/boo-entity"]
	path = framework/boo-entity
	url = https://github.com/BOO1980/boo-entity.git
[submodule "boo-asp.net"]
	path = boo-asp.net
	url = https://github.com/BOO1980/boo-asp.net.git
